<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto bg-light p-4 rounded">
      <h1>Add a new Flat</h1>
        <%= render 'form', flat: @flat %>
    </div>
  </div>
</div>
